
nav{
    background-color: rgba(191, 133, 99, 0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 15vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.5em;
    z-index: 2;
}

#menu{
    display: none;
}

#link{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3vw;
    position: relative;
}

#menu div {
    width: 7vw;
    height: 0.5vh;
    background-color: white;
    margin: 0.7vh 0;
}

#link a{
    font-size: inherit;
    margin-left: 2vw;
    z-index: 1;
    color: white;
    text-decoration: none;
}

#nome{
    margin-left: 3vw;
    z-index: 1;
    font-size: 1.5em;
    font-weight: bolder;
    border: 1px solid white;
    padding: 2px 4px;
    background-color: rgba(256, 256, 256, 0.3);
}

@media (max-width:1200px){
    nav{
        height: 10vh;
    }
    #link{
        display: none;
    }

    #menu{
        display: block;
        margin-right: 5vw;
    }
}